<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>错误</title>
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2080705_x7u3h1yrrfc.css">
</head>
<body class="errorbody">
<div class="myerror">

    <i class="iconfont icon-icon-test" style="font-size: 80px;color: red"></i>
    <br>
    <a th:href="@{/index}">回到首页</a>
</div>
</body>
</html>